<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiVgdxUmL7I6D5I-UDJOg7dN8d-5LuVUw</string>
	<key>GCM_SENDER_ID</key>
	<string>426627881700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courseProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-37281</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-37281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426627881700:ios:c2f6a567eb147f66752af1</string>
</dict>
</plist>